#links {
  @include outer-container();
}

#navbar-content {
  @include outer-container();
  display: block;
}

.banner {
  text-align: center;
  background-color: $primary-darkest;
  color: white;

  h1 {
    font-size: 5 * $base-font-size;
  }

  p {
    font-size: 1.5 * $base-font-size;
    text-transform: lowercase;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.linkrow {
  @include span-columns(12);
}

.link {
  @include span-columns(4 of 12);
  margin: 5px 5px 0;
  padding: 0;

  a {
    font-size: 1.2 * $base-font-size;
    text-decoration: underline;
  }
}

nav {
  height: 80px;

  .logo {
    display: inline-block;
    height: 80px;
    vertical-align: middle;
  }

  img {
    height: 40px;
    margin: 15px 15px 0;
    float: left;
  }

  li {
    display: inline;
    margin-left: 20px;
  }

  a {
    line-height: 80px;
    text-transform: uppercase;
    color: black;
  }
}